<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="microsoft.scripting" requirePermission="false" type="Microsoft.Scripting.Hosting.Configuration.Section, Microsoft.Scripting, Version=0.9.6.20, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="tororo_gui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
	<microsoft.scripting>
		<languages>
			<language extensions=".rb" displayName="IronRuby" type="IronRuby.Runtime.RubyContext, IronRuby, Version=0.9.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" names="IronRuby;Ruby;rb"/>
		</languages>
		<options>
			<set language="Ruby" option="LibraryPaths" value=".\ironruby\lib\IronRuby;.\ironruby\lib\ruby\site_ruby\1.8;.\ironruby\lib\ruby\site_ruby;.\ironruby\lib\ruby\1.8"/>
		</options>
	</microsoft.scripting>
 <startup/>
 <userSettings>
  <tororo_gui.Properties.Settings>
   <setting name="formFontSettingsSize" serializeAs="String">
    <value>500, 300</value>
   </setting>
   <setting name="formFontSettingsLocation" serializeAs="String">
    <value>200, 200</value>
   </setting>
   <setting name="formTororoSize" serializeAs="String">
    <value>420, 300</value>
   </setting>
   <setting name="formTororoLocation" serializeAs="String">
    <value>100, 100</value>
   </setting>
   <setting name="Dir" serializeAs="String">
    <value />
   </setting>
  </tororo_gui.Properties.Settings>
 </userSettings>
</configuration>
