<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="microsoft.scripting" requirePermission="false" type="Microsoft.Scripting.Hosting.Configuration.Section, Microsoft.Scripting, Version=1.1.0.20, Culture=neutral, PublicKeyToken=7f709c5b713576e1"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="tororo_gui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <microsoft.scripting>
		<languages>
      <language extensions=".rb" displayName="IronRuby" type="IronRuby.Runtime.RubyContext, IronRuby, Version=1.1.3.0, Culture=neutral, PublicKeyToken=7f709c5b713576e1" names="IronRuby;Ruby;rb"/>
		</languages>
		<options>
			<set language="Ruby" option="LibraryPaths" value=".\ironruby\lib\IronRuby;.\ironruby\lib\ruby\site_ruby\1.9.1;.\ironruby\lib\ruby\site_ruby;.\ironruby\lib\ruby\1.9.1"/>
		</options>
	</microsoft.scripting>
 <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup>
 <userSettings>
  <tororo_gui.Properties.Settings>
   <setting name="formFontSettingsSize" serializeAs="String">
    <value>570, 300</value>
   </setting>
   <setting name="formFontSettingsLocation" serializeAs="String">
    <value>200, 200</value>
   </setting>
   <setting name="formTororoSize" serializeAs="String">
    <value>420, 270</value>
   </setting>
   <setting name="formTororoLocation" serializeAs="String">
    <value>100, 100</value>
   </setting>
   <setting name="Dir" serializeAs="String">
    <value />
   </setting>
  </tororo_gui.Properties.Settings>
 </userSettings>
</configuration>
